# Configured outputs
Makefile
src/defs.hpp

# Object and binary directories
obj/
bin/

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
athena

# Athena output files
*.tab
*.vtk
*.athdf*
*.hst
*.rst
meshtest.dat

# Visualization package files
.smhist

# Mac OS metadata
.DS_Store

# editor temp files
*~
*.swp
